.device-item {
    padding: 15px !important;
    margin-bottom: 10px;
}

.device-item>.device-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.device-name {
    margin: 0;
}

.device-footer {
    margin-top: 15px;
}