:root {
  --primary: rgb(79 70 229 / 1);
  --primary-light: rgb(99 102 241);
  --secondary: #fff;
  --secondary-light: #f3f3f3;
  --black: #0f172a;
  --black-light: #334155;
  ;
  --text-color-1: #213547;
  --text-color-2: rgb(17 24 49 / 1);
  --white-overlay: rgba(255, 255, 255, .5);
  --error: red;
  --success: green;
  --color-gray: #b5bdc4;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--text-color-1);
  background-color: var(--secondary-light);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  margin: 0;
  min-width: 320px;
  min-height: calc(100vh - 100px);
  padding: 1rem 10vw;
}

@media screen and (max-width: 1024px) {
  main {
    padding: 1rem 0px;
  }
}


.highlight {
  color: var(--primary);
}

.card {
  border-radius: 5px;
  padding: 15px;
  background-color: var(--secondary);
  border: 1px solid var(--color-gray);
}

.heading {
  font-weight: bold;
  margin: 1rem;
}

.sub-heading {
  font-weight: 400;
  margin: 0;
}


.text-center {
  text-align: center;
}


input[type='email'],
input[type='password'],
input[type='text'] {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--primary-light);
  outline: none;
  padding: 10px 0px;
  margin-bottom: 25px;
}

label {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
}

input:focus {
  border-bottom: 1px solid var(--primary);
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.flex-center {
  place-items: center;
  justify-content: center;
  align-items: center;
}

.error-box,
.success-box {
  height: 10px;
  position: relative;
}

.form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
}

.form-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-width: 300px;
}

.form-message {
  position: relative;
  height: 10px;
  font-size: 12px;
}

.form-message>.form-error {
  position: absolute;
  color: var(--error);
}

.form-message>.form-success {
  position: absolute;
  color: var(--success);
}

.w-100 {
  width: 100%;
}

.pointer{
  cursor: pointer;
}